.title {  }
.stat-name-label {  }
.stat-value-label {  }
.axis-label {  }
.axis-tick-label {  }
.key-label {  }
.task-chart-label-incomplete {  }
.task-chart-rectangle-complete {  }
.task-name-label {  }
.console-text {  }

* {
   -colour-1: #44608c;
   -colour-2: #7595c6;
   -green: #00a676;
   -sidebar-color: #eee;
}

.rectangle {
	-fx-fill: white;
}

/* SIDEBAR STYLING */

.sidebar {
    -fx-background-color: -sidebar-color;
}

/* CHART STYLING */

.chart-legend {
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-background-color: -sidebar-color;
}

.chart {
	-fx-background-color: -sidebar-color;
	-fx-font-family: 'Menlo';
}

.chart-plot-background {
	-fx-background-color: white;
}


.default-color0.chart-pie { -fx-background-color: -colour-1; }
.default-color1.chart-pie { -fx-background-color: -colour-2; }
.default-color2.chart-pie { -fx-background-color: lightgrey; }

.default-color0.chart-bar { -fx-background-color: -colour-1; }
.default-color1.chart-bar { -fx-background-color: -colour-2; }
.default-color2.chart-bar { -fx-background-color: lightgrey; }

/* TAB STYLING */

.tab-pane *.tab-header-background {
    -fx-background-color: lightgrey;
}

.tab-pane {
	-fx-background-color: white;
}

.tab {
	-fx-background-radius: 0;
	-fx-background-color: lightgrey;
}

.tab:hover {
	-fx-background-color: darkgrey;
}

.page-title {
	-fx-font-size: 20;
	-fx-text-fill: grey;
}

.tab:hover .tab-label {
	-fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: grey;
}

.tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: grey;
    -fx-font-size: 12px;
    -fx-font-family: 'Menlo';
}

.tab:selected .tab-label { 
    -fx-text-fill: white;
}

.label {
    -fx-font-family: 'Menlo';
}

.split-pane:vertical > .split-pane-divider {
	-fx-padding: 0 0.2em 0 0.2em; 
  	-fx-background-color: lightgrey;
}

.text-area {
	-fx-background-radius: 0, 0, 0, 0;
	-fx-text-box-border: 0;
}

.text-area .content{
  	-fx-background-color: transparent;
  }

#explanation {
	-fx-font-size: 10px;
}

#complete-label {
	-fx-text-fill: grey;
}

#incomplete-label {
	-fx-text-fill: grey;
}